{% extends 'dashboard/list_template.html' %}
{% block table_headers %}
  <th class="px-6 py-3 text-right text-xs font-bold text-gray-700 uppercase">شناسه</th>
  <th class="px-6 py-3 text-right text-xs font-bold text-gray-700 uppercase">ایمیل</th>
  <th class="px-6 py-3 text-center text-xs font-bold text-gray-700 uppercase">عملیات</th>
{% endblock %}
{% block table_rows %}
  {% for newsletter in newsletters %}
    <tr class="hover:bg-gray-50">
      <td class="px-6 py-4 text-sm text-gray-900">{{ newsletter.id }}</td>
      <td class="px-6 py-4 text-sm text-gray-900">{{ newsletter.email }}</td>
      <td class="px-6 py-4 text-center">
        <a href="{% url 'dashboard:website:newsletter-delete' newsletter.pk %}" class="inline-flex items-center px-3 py-1.5 bg-red-500 hover:bg-red-600 text-white text-xs font-medium rounded-md">حذف</a>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
