{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
      {% block title %}
        رویا سازان جوان
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/drift-zoom/drift-basic.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />

    {% block extra_css %}

    {% endblock %}
  </head>

  <body class="index-page">
    <header id="header" class="header sticky-top">
      <!-- Top Bar -->
      <div class="top-bar py-2">
        <div class="container-fluid container-xl">
          <div class="row align-items-center">
            <div class="col-lg-4 d-none d-lg-flex">
              <div class="top-bar-item">
                <i class="bi bi-telephone-fill me-2"></i>
                <span>مشاوره و ثبت نام:</span>
                <a href="tel:+989037953318">09037953318</a>
              </div>
            </div>

            <div class="col-lg-4 col-md-12 text-center">
              <div class="announcement-slider swiper init-swiper">
                <script type="application/json" class="swiper-config">
                  {
                    "loop": true,
                    "speed": 600,
                    "autoplay": {
                    "delay": 5000
                    },
                    "slidesPerView": 1,
                    "direction": "vertical",
                    "effect": "slide"
                  }
                </script>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">✨تجسم رویا آغاز حرکت به سوی هدف است✨</div>
                  <div class="swiper-slide">🎯آموزش حسابداری و مالیات ویژه بازار کار</div>
                  <div class="swiper-slide">📊ارائه خدمات مالی و مالیاتی</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Main Header -->
      <div class="main-header">
        <div class="container-fluid container-xl">
          <div class="d-flex py-3 align-items-center justify-content-between">
            <!-- Logo -->
            <a href="{% url 'website:index' %}" class="logo d-flex align-items-center">
              <!-- Uncomment the line below if you also wish to use an image logo -->
              <!-- <img src="{% static 'assets/img/logo.webp' %}" alt=""> -->
              <h1 class="sitename">Roya Sazan Javan</h1>
            </a>

            <!-- Search -->
            <form method="get" action="{% url 'courses:course_list' %}" class="search-form desktop-search-form">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="جستوجوی دوره ..." name="search" value="{{ search_query }}" required="" />
                <button class="btn" type="submit"><i class="bi bi-search"></i></button>
              </div>
            </form>

            <!-- Actions -->
            <div class="header-actions d-flex align-items-center justify-content-end">
              <!-- Mobile Search Toggle -->
              <button class="header-action-btn mobile-search-toggle d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch"><i class="bi bi-search"></i></button>

              <!-- Account -->
              <div class="dropdown account-dropdown">
                <button class="header-action-btn" data-bs-toggle="dropdown"><i class="bi bi-person"></i></button>
                <div class="dropdown-menu">
                  <div class="dropdown-header">
                    <h6>به <span class="sitename">رویا سازان جوان</span> خوش آمدید</h6>
                    <p class="mb-0">دسترسی به حساب کاربری و مدیریت دوره ها</p>
                  </div>
                  <div class="dropdown-body">
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard:dashboard' %}">
                      <i class="bi bi-person-circle me-2"></i>
                      <span>پروفایل من</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="account.html">
                      <i class="bi bi-bag-check me-2"></i>
                      <span>سفارشات من</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="account.html">
                      <i class="bi bi-heart me-2"></i>
                      <span>لیست دلخواه من</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="account.html">
                      <i class="bi bi-gear me-2"></i>
                      <span>تنظیمات</span>
                    </a>
                  </div>
                  {% if user.is_authenticated %}
                    <div class="dropdown-footer">
                      <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary w-100 mb-2">خروج</button>
                      </form>
                    </div>
                  {% else %}
                    <div class="dropdown-footer">
                      <a href="{% url 'accounts:login' %}" class="btn btn-primary w-100 mb-2">ورود</a>
                      <a href="{% url 'accounts:register' %}" class="btn btn-outline-primary w-100">ثبت نام</a>
                    </div>
                  {% endif %}
                </div>
              </div>

              <!-- Wishlist -->
              <a href="account.html" class="header-action-btn d-none d-md-block">
                <i class="bi bi-heart"></i>
                <span class="badge">0</span>
              </a>

              <!-- Cart -->
              <a href="{% url 'cart:cart_detail' %}" class="header-action-btn">
                <i class="bi bi-cart3"></i>
                <span class="badge">{{ cart_total_quantity }}</span>
              </a>

              <!-- Mobile Navigation Toggle -->
              <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Navigation -->
      <div class="header-nav">
        <div class="container-fluid container-xl position-relative">
          <nav id="navmenu" class="navmenu">
            <ul>
              <li>
                <a href="{% url 'website:index' %}">صفحه اصلی</a>
              </li>
              <li>
                <a href="{% url 'website:about' %}">درباره ما</a>
              </li>
              <li>
                <a href="{% url 'articles:article_list' %}">مقالات</a>
              </li>
              <li>
                <a href="{% url 'courses:course_progress' %}">دوره های من</a>
              </li>
              <li>
                <a href="{% url 'courses:course_list' %}">لیست دوره ها</a>
              </li>
              <li>
                <a href="{% url 'website:support' %}">درخواست مشاوره</a>
              </li>
              <li class="dropdown">
                <a href="{% url 'website:contact' %}"><span>ارتباط با ما</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li>
                    <a href="{% url 'website:faq' %}">سوالات متداول</a>
                  </li>
                  <li>
                    <a href="{% url 'website:tos' %}">شرایط خدمات</a>
                  </li>
                  <li>
                    <a href="{% url 'website:job-application' %}">همکاری با ما</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Mobile Search Form -->
      <div class="collapse" id="mobileSearch">
        <div class="container">
          <form method="get" action="{% url 'courses:course_list' %}" class="search-form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="جستوجوی دوره ..." name="search" value="{{ search_query }}" required="" />
              <button class="btn" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>
        </div>
      </div>

      {% include 'messages.html' %}
    </header>

    <main class="main">
      {% block content %}

      {% endblock %}
    </main>

    <footer id="footer" class="footer dark-background">
      <div class="footer-main">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
              <div class="footer-widget footer-about">
                <a href="{% url 'website:index' %}" class="logo"><span class="sitename">Roya Sazan Javan</span></a>
                <p>برای شروع یادگیری و مشاهده دوره‌های ما، همین حالا اقدام کنید و گام اول را در جهت ساخت آینده‌ای روشن‌تر بردارید!</p>

                <div class="social-links mt-4">
                  <h5>ارتباط با ما</h5>
                  <div class="social-icons">
                    <a href="#" aria-label="Facebook"><i class="bi bi-telegram"></i></a>
                    <a href="#" aria-label="TikTok"><i class="bi bi-whatsapp"></i></a>
                    <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="footer-widget">
                <h4>دوره‌ها</h4>
                <ul class="footer-links">
                  <li>
                    <a href="category.html">New Arrivals</a>
                  </li>
                  <li>
                    <a href="category.html">Bestsellers</a>
                  </li>
                  <li>
                    <a href="category.html">Women's Clothing</a>
                  </li>
                  <li>
                    <a href="category.html">Men's Clothing</a>
                  </li>
                  <li>
                    <a href="category.html">Accessories</a>
                  </li>
                  <li>
                    <a href="category.html">Sale</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="footer-widget">
                <h4>پشتیانی</h4>
                <ul class="footer-links">
                  <li>
                    <a href="{% url 'website:faq' %}">سوالات متداول</a>
                  </li>
                  <li>
                    <a href="{% url 'website:tos' %}">شرایط خدمات</a>
                  </li>
                  <li>
                    <a href="{% url 'website:support' %}">درخواست مشاوره</a>
                  </li>
                  <li>
                    <a href="{% url 'website:about' %}">درباره ما</a>
                  </li>
                  <li>
                    <a href="{% url 'website:job-application' %}">همکاری با ما</a>
                  </li>
                  <li>
                    <a href="{% url 'website:contact' %}">ارتباط با ما</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="footer-widget">
                <h4>اطلاعات تماس</h4>
                <div class="footer-contact">
                  <div class="contact-item">
                    <i class="bi bi-geo-alt"></i>&nbsp;
                    <span>تهران، پاکدشت، دوراهی یبر، طبقه فوقانی بانک ملی ایران، واحد 95</span>
                  </div>
                  <div class="contact-item">
                    <i class="bi bi-telephone"></i>&nbsp;
                    <span>09037953318 | 09124774350</span>
                  </div>
                  <div class="contact-item">
                    <i class="bi bi-clock"></i>&nbsp;
                    <span>شنبه تا پنج‌شنبه | ساعت ۱۰ تا ۱۹</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <div class="row gy-3 align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="copyright">
                <p>
                  <span>Copyright</span> <strong class="sitename">Roya Sazan Javan</strong>. All Rights Reserved
                </p>
              </div>
              <div class="credits mt-1">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Developed by <a href="https://amirhamidi.pythonanywhere.com/">Amir Hamidi</a> | Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/drift-zoom/Drift.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
